@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Jockey+One&family=Kalnia+Glaze:wdth,wght@100..125,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&family=Metal+Mania&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Dirt&family=Rubik+Distressed&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Story+Script&family=Updock&display=swap');
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background: #003470; 
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}

.nav-container {
  max-width: 1450px;
  margin: auto;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size:32px;
  font-weight: bold;
  color: #000000;
 font-family: "Metal Mania", system-ui;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  font-family: "Metal Mania", system-ui;
}

.nav-links a:hover {
  color: #300023;
}

.nav-links a.active {
  color: #bd00b0;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #003470;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
    gap: 15px;
  }

  .nav-links.open {
    display: flex;
  }
}
